.formcustom {
    max-width: 400px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.formcustom h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.formcustom .form-floating {
    margin-bottom: 15px;
}
.formcustom .form-check {
    margin-bottom: 20px;
}
.formcustom .btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s;
}
.formcustom .btn-primary:hover {
    background-color: #0056b3;
}
.formcustom .btn-primary:focus {
    box-shadow: none;
}